@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merienda:wght@300..900&family=Unbounded:wght@200..900&family=DM+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";



body {
  background:  #f0f0f0;
  color:  #0a0a0a ;
  font-family: 'DM Sans', sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}


/* SplitType specific styles to prevent layout shift */
.char, .line {
  display: inline-block;
  vertical-align: bottom;
}


/* Grain Effect */
.grain::before {
  content: "";
  position: fixed;
  top: -100%; left: -100%; width: 300%; height: 300%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_processing_pre_noise_full.png');
  opacity: 0.04; pointer-events: none; z-index: 9999;
  animation: noise 0.2s infinite;
}

@keyframes noise {
  0% { transform: translate(0,0) } 10% { transform: translate(-5%,-5%) }
}