@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merienda:wght@300..900&family=Unbounded:wght@200..900&family=DM+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";



body {
  background:  #f0f0f0;
  color: #f0f0f0 #0a0a0a ;
  font-family: 'DM Sans', sans-serif;
}
